RewriteEngine On

# Serve existing files/directories directly
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite all other requests to the Front Controller
RewriteRule ^(.*)$ index.php [QSA,L]
